@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght600display=swap');

body {
    background-color: #400854; 
    color: #fddf4f;
}

.clock {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    font-family: orbitron;
}